.cancel{
    width: 15px;
    height: 15px;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 0.4rem;
    padding: 0;
    cursor: pointer;
}

.inputContain input{
    border: none;
    border-bottom: 2px solid rgb(7, 135, 194);
    outline: none;
}



.checked{
    text-decoration: line-through;
}

.checkbox{
    width: 12px;
    height: 12px;
    margin: 0.5rem 1rem 0 0;
}