:root{
    --color: rgb(36, 53, 204);
}

.top{
    padding: 3rem 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: var(--color);
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    z-index: 2;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 2rem;
    box-shadow: 5px 5px 12px 10px rgb(170, 166, 166);
}

h2{
    text-align: center;
    background-color: var(--color);
    width: 60%;
    margin: 5rem auto 0;
    padding: 1rem 0;
    color: #fff;
    z-index: 3;
}

.inputContain{
    width: 80%;
    margin: 1rem auto 0;
    display: flex;
    justify-content: space-between;
}

.inputContain input{
    width: 70%;
    background-color: transparent;
    padding: 0.2rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--color);
    outline: none;
}

.inputContain button{
    background-color: var(--color);
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 0.2rem;
}

.todoDisp{
    width: 80%;
    margin: 0 auto;
}

.todoDisp ul{
    list-style: none;
}

.todoDisp ul li{
    display: flex;
    justify-content: space-between;
}

.todoDisp ul li div{
    display: flex;
    width: 80%;
    margin-left: -3rem;
}

.todoDisp ul li div input{
    margin: 0 1rem;
}

.cancel{
    cursor: pointer;
    width: 15px;
    height: 15px;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: red;
}

.checked{
    text-decoration: line-through;
}

@media (max-width: 760px){
    h2{
        width: 80%;
    }
    .container{
        width: 80%;
    }

    .inputContain{
        width: 90%;
    }
    .inputContain button{
        padding: 0 0.2rem;
    }
}